body {
    background-color: #f5f5f7;
}

a:hover {
    cursor: pointer;
}

header {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.NavUI {
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 60px;
    font-size: 14px;
}

.TitleStrong {
    color: rgb(49, 49, 49);
}

.TitleStrong1 {
    color: rgb(129, 129, 129);
}

h1 {
    font-family: sans-serif;
}

.MainPageTitle {
    width: 700px;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 5%;
}

.ProductDemo {
    width: 130px;
    margin-left: 19px;
    margin-top: 50px;
}

.ProductDemoVFX {
    margin-left: 10%;
}

.ProductDemo1, .ProductDemo2, .ProductDemo3, .ProductDemo4, .ProductDemo5, .ProductDemo6, .ProductDemo7, .ProductDemo8 {
    font-family: sans-serif;
    color: black;
}

.ProductDemo2 {
    margin-left: 105px;
}

.ProductDemo3 {
    margin-left: 105px;
}

.ProductDemo4 {
    margin-left: 90px;
}

.ProductDemo5 {
    margin-left: 80px;
}

.ProductDemo6 {
    margin-left: 95px;
}

.ProductDemo7 {
    margin-left: 80px;
}

.ProductDemo8 {
    margin-left: 70px;
}

.ProductDemoVFX1 {
    margin-left: 13%;
}

.MainPageTitle2 {
    width: 900px;
    font-size: 40px;
    margin-left: 8%;
    margin-top: 5%;
}

.TitleStrong2 {
    color: rgb(49, 49, 49);
}

.TitleStrong3 {
    color: rgb(129, 129, 129);
}

.ContainerImg {
    width: 73%;
    border-radius: 25px;
}

.C1TXT {
    color: white;
    font-family: sans-serif;
}

.C1TXT1 {
    position: relative;
    top: 140px;
    left: 28%;
}

.C1TXT2 {
    position: relative;
    top: 125px;
    left: 28%;
    font-size: 30px;
}

.C1TXT3 {
    position: relative;
    bottom: 440px;
    left: 28%;
}

.Containers {
    display: flex;
    height: 564px;
    width: 100%;
}

.Container1 {
    position: relative;
    width: 60%;
    top: -100px;
}

.Container2 {
    position: relative;
    width: 60%;
    top: -100px;
    left: -150px;
}

.Container3 {
    position: relative;
    width: 60%;
    top: -119px;
    left: -280px;
}

.TitleStrong4 {
    color: rgb(49, 49, 49);
}

.TitleStrong5 {
    color: rgb(129, 129, 129);
}

.MainPageTitle4 {
    font-size: 30px;
    margin-left: 8%;
    margin-top: 50px;
}

.BuyMethods {
    display: flex;
    margin-left: 100px;
}

.blueStrong {
    color: #1e89ff;
}

.Method1, .Method2, .Method3 {
    display: flex;
    background-color: white;
    font-family: sans-serif;
    color: rgb(49, 49, 49);
    font-size: 30px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgb(179, 179, 179);
    margin-bottom: 30px;
    width: 20%;
    margin-left: 50px;
}

.fa-2xl {
    margin: 30px;
    margin-top: 100px;
}

.Semcriatividadepranomedeclasse {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Semcriatividadepranomedeclasse1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.MainPageTitle7 {
    font-size: 100px;
    margin-left: 10%;
    margin-bottom: 0px;
}

video {
    border-radius: 50px;
    margin-left: 400px;
    transition-duration: 1s;
}

video:hover {
    width: 1200px;
    margin-left: 350px;
    border-radius: 50px;
}

.MacType {
    font-size: 20px;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    width: 23.1%;
    border-radius: 50px;
    box-shadow: 4px 4px 8px rgb(145, 141, 141);
    position: relative;
    margin-left: 700px;
    margin-top: 100px;
}

.Notebooks {
    background-color: #1d1d1f;
    padding: 20px;
    border-radius: 50px;
    color: #ffffff;
    transition-duration: 0.5s;
}

.Notebooks:hover {
    background-color: #b8b8b8;
}

.Desktops {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50px;
    margin-left: 20px;
    color: #000000;
}

.Desktops:hover {
    background-color: #b8b8b8;
    transition-duration: 0.5s;
}

.Notebk1 {
    position: relative;
    left: -140px;
}

.Notebk2 {
    position: relative;
    left: -210px;
}

.Monitores {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50px;
    margin-left: 20px;
    color: #000000;
}

.Monitores:hover {
    background-color: #b8b8b8;
    transition-duration: 0.5s;
}

.ToBuy, .ToBuy1, .ToBuy2 {
    display: flex;
    background-color: #eeeeee;
    padding: 10px;
    width: 90%;
    margin-left: 90px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px #a0a0a0;
    text-align: center;
}

.ProductTitle {
    font-family: sans-serif;
}

.ProductDescription {
    font-family: sans-serif;
}

.ProductStrong {
    font-family: sans-serif;
}

.Monitor1 {
    margin-top: 25px;
}

.Mon1, .Desk1, .Notebk1 {
    margin-right: 150px;
    margin-left: 400px;
}

.fa-plus, .fa-minus {
    padding: 10px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 30px;
    background-color: #9e9e9e;
}

.QuantityLabel {
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    top: 10px;
}

.preço{
    font-family: sans-serif;
    margin-top: 30%;
    font-size: 40px;
    margin-left: 8%;
}